<div class="spaced">
	<table class="fill-width pure-table pure-table-horizontal">
		<thead>
			<tr>
				<th>Player</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="player in game.players | orderBy:'-score'" ng-class="{me: playerId == player.id}">
				<td>{{player.name}}</td>
				<td>{{player.score}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="spaced">
	<strong>{{playerId == game.players[(game.storytellerIndex + 1) % game.players.length].id && "You" || game.players[(game.storytellerIndex + 1) % game.players.length].name}}</strong>
	will be the next storyteller.
</div>

<div class="spaced" ng-show="game.players.length < 3">Waiting for more players. . . .</div>

<div class="spaced pure-g" ng-hide="game.players.length < 3 || playerId != game.players[(game.storytellerIndex + 1) % game.players.length].id">
	<button class="pure-u-1 pure-button pure-button-primary" ng-click="beginRound();">Begin Round</button>
</div>