<div ng-hide="game.playersMap[playerId].cards.length > 0">
	<div class="spaced">
		<strong>{{playerId == game.players[game.storytellerIndex].id && "You" || game.players[game.storytellerIndex].name}}</strong>
		{{playerId == game.players[game.storytellerIndex].id && "are" || "is"}}
		the storyteller.
	</div>

	<div class="spaced">
		<div ng-hide="game.players.length == 3 && playerId != game.players[game.storytellerIndex].id">Which card is yours?</div>
		<div ng-show="game.players.length == 3 && playerId != game.players[game.storytellerIndex].id">Which two cards are yours?</div>
		<div ng-repeat="card in game.cards">
			<label>
				<input type="checkbox" ng-model="$parent.claimCards[$index]" ng-change="$parent.claimCard($index);" />
				{{$index + 1}}
			</label>
		</div>
	</div>

	<div class="spaced" ng-hide="playerId == game.players[game.storytellerIndex].id">
		Which card do you think is the storyteller's? <span ng-show="game.players.length >= 7">You may vote for up to two cards.</span>
		<div ng-repeat="card in game.cards" ng-hide="claimCards[$index]">
			<label>
				<input type="checkbox" ng-model="$parent.voteCards[$index]" ng-change="$parent.voteForCard($index);" />
				{{$index + 1}}
			</label>
		</div>
	</div>

	<div class="spaced">
		<button class="pure-button pure-button-primary" ng-click="claimAndVote();">Submit</button>
	</div>
</div>

<div class="spaced" ng-show="game.playersMap[playerId].cards.length > 0">
	Waiting for these players:
	<ul>
		<li ng-repeat="player in game.players" ng-show="player.cards.length == 0">{{player.name}}</li>
	</ul>
</div>