<div ng-hide="claimedAndVoted">
	<div class="spaced">
		<strong>{{playerId == game.players[game.storytellerIndex].id && "You" || game.players[game.storytellerIndex].name}}</strong>
		{{playerId == game.players[game.storytellerIndex].id && "are" || "is"}}
		the storyteller.
	</div>

	<div class="spaced">
		Which card is yours?
		<div ng-repeat="card in game.cards">
			<label>
				<input type="radio" value="{{$index}}" name="claim" ng-model="$parent.claimCardIndex" />
				{{$index + 1}}
			</label>
		</div>
	</div>

	<div class="spaced" ng-hide="playerId == game.players[game.storytellerIndex].id">
		Which card do you think is the storyteller's?
		<div ng-repeat="card in game.cards" ng-hide="$index == claimCardIndex">
			<label>
				<input type="radio" value="{{$index}}" name="vote" ng-model="$parent.voteCardIndex" />
				{{$index + 1}}
			</label>
		</div>
	</div>

	<div class="spaced">
		<button class="pure-button pure-button-primary" ng-click="claimAndVote();">Submit</button>
	</div>
</div>

<div class="spaced" ng-show="claimedAndVoted">
	Waiting for other players. . . .
</div>